<html>
  <head>
    <script>
   
      </script>
  </head>
  <body>
<div class="header" style="text-align:center">
    <a href="/" id="logo">WELCOME</a>
 
</div>
<h1 class=h1>QUALITY</h1>
<div class="center">


  <div class="skillBox">
    <p>excellent</p>
    <p>{{ percnExcQual }}%</p>
    <div class='skill'>
      <div class='skillLevel' id=1>

      </div>
    </div>
  </div>
  <div class="skillBox">
      <p>good</p>
      <p>{{percnGoodQual}}%</p>
      <div class='skill'>
        <div class='skillLevel' id=2>
          
        </div>
      </div>
    </div>
    <div class="skillBox">
        <p>average</p>
        <p>{{percnAverageQual}}%</p>
        <div class='skill'>
          <div class='skillLevel' id=3>
            
          </div>
        </div>
      </div>
      <div class="skillBox">
          <p>below average</p>
          <p>{{percnBelowQual}}%</p>
          <div class='skill'>
            <div class='skillLevel' id=4>
              
            </div>
          </div>
        </div>
        <div class="skillBox">
            <p>poor</p>
            <p>{{percnPoorQual}}%</p>
            <div class='skill'>
              <div class='skillLevel' id=5>
                
              </div>
            </div>
          </div>

</div>
<h1 class=h2>QUANTITY</h1>
<div class="center1">


  <div class="skillBox">
    <p>excellent</p>
    <p>{{ percnExcQuan }}%</p>
    <div class='skill'>
      <div class='skillLevel' id=6>

      </div>
    </div>
  </div>
  <div class="skillBox">
      <p>good</p>
      <p>{{percnGoodQuan}}%</p>
      <div class='skill'>
        <div class='skillLevel' id=7>
          
        </div>
      </div>
    </div>
    <div class="skillBox">
        <p>average</p>
        <p>{{percnAverageQuan}}%</p>
        <div class='skill'>
          <div class='skillLevel' id=8>
            
          </div>
        </div>
      </div>
      <div class="skillBox">
          <p>below average</p>
          <p>{{percnBelowQuan}}%</p>
          <div class='skill'>
            <div class='skillLevel' id=9>
              
            </div>
          </div>
        </div>
        <div class="skillBox">
            <p>poor</p>
            <p>{{percnPoorQuan}}%</p>
            <div class='skill'>
              <div class='skillLevel' id=10>
                
              </div>
            </div>
          </div>

</div>

<h1 class=h3>PRICE</h1>
<div class="center3">


  <div class="skillBox">
    <p>Very Expensive</p>
    <p>{{ percnExcPrice }}%</p>
    <div class='skill'>
      <div class='skillLevel' id=11>

      </div>
    </div>
  </div>
  <div class="skillBox">
      <p>Expensive</p>
      <p>{{percnGoodPrice}}%</p>
      <div class='skill'>
        <div class='skillLevel' id=12>
          
        </div>
      </div>
    </div>
    <div class="skillBox">
        <p>affordabel</p>
        <p>{{percnAveragePrice}}%</p>
        <div class='skill'>
          <div class='skillLevel' id=13>
            
          </div>
        </div>
      </div>
      <div class="skillBox">
          <p>low</p>
          <p>{{percnBelowPrice}}%</p>
          <div class='skill'>
            <div class='skillLevel' id=14>
              
            </div>
          </div>
        </div>
        <div class="skillBox">
            <p>very low</p>
            <p>{{percnPoorPrice}}%</p>
            <div class='skill'>
              <div class='skillLevel' id=15>
                
              </div>
            </div>
          </div>

</div>

<h1 class=h4>SERVICE</h1>
<div class="center4">


  <div class="skillBox">
    <p>excellent</p>
    <p>{{ percnExcService }}%</p>
    <div class='skill'>
      <div class='skillLevel' id=16>

      </div>
    </div>
  </div>
  <div class="skillBox">
      <p>good</p>
      <p>{{percnGoodService}}%</p>
      <div class='skill'>
        <div class='skillLevel' id=17>
          
        </div>
      </div>
    </div>
    <div class="skillBox">
        <p>average</p>
        <p>{{percnAverageService}}%</p>
        <div class='skill'>
          <div class='skillLevel' id=18>
            
          </div>
        </div>
      </div>
      <div class="skillBox">
          <p>below average</p>
          <p>{{percnBelowService}}%</p>
          <div class='skill'>
            <div class='skillLevel' id=19>
              
            </div>
          </div>
        </div>
        <div class="skillBox">
            <p>poor</p>
            <p>{{percnPoorService}}%</p>
            <div class='skill'>
              <div class='skillLevel' id=20>
                
              </div>
            </div>
          </div>

</div>
</body>
  </html>