@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
  padding: 20px 80px;
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

#logo {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}
#logo:after {
  content:"welcome";
  position: absolute;
  left: 8px;
  top: 32px;
}
#logo:after {
  /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

.header{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGeEMm9h_JJbwgz2ibTFCaiFxxYTrxEf0GSjJQ6_tFsvOccs_4');
}


body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}
.h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
  margin-bottom: 30px;
  position: absolute;
  top:20%;
  left:15%;
}
.center{
  width: 20%;
  position: absolute;
  top:60%;
  left:20%;
  transform: translate(-50%,-50%);
  padding: 20px;
  background: #333;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5)
}

.skillBox{
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  
}
.skillBox p{
  color:#fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-family: bold;
  letter-spacing: 1px;

}

.skillBox p:nth-child(2)
{
  float: right;
  position: relative;
  top: -25px;
}

.skill
{
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #0fffb7;
  border-radius: 2px;
}

.skillLevel
{
  background: #0fffb7;
  height: 10px;
}

.center1{
  width: 20%;
  position: absolute;
  top:60%;
  right: 15%;
  transform: translate(-50%,-50%);
  padding: 20px;
  background: #333;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5)
}
.h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
  margin-bottom: 30px;
  position: absolute;
  top:20%;
  left: 60%;
}

.h3 {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
  margin-bottom: 30px;
  position: absolute;
  top:95%;
  left: 15%;
}
.center3{
  width: 20%;
  position: absolute;
  top:135%;
  left: 20%;
  transform: translate(-50%,-50%);
  padding: 20px;
  background: #333;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5)
}

.h4 {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
  margin-bottom: 30px;
  position: absolute;
  top:95%;
  left: 60%;
}
.center4{
  width: 20%;
  position: absolute;
  top:135%;
  left: 65%;
  transform: translate(-50%,-50%);
  padding: 20px;
  background: #333;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5)
}